<div id="wrapper" class="container">
  <div id="header" class="row">
    <div id="logo" class="col">
      <img src="assets/ban-nanny.png" alt="">
    </div>
    <div id="menu" class="col">
      <ul>
        <li><a href="#item1">Item 1</a></li>
        <li><a href="#item2">Item 2</a></li>
        <li><a href="#item3">Item 3</a></li>
      </ul>
    </div>
  </div>
  <div id="hero" class="row">
    <div id="hero-text" class="col">
      <p class="teaser">L'application des mamans de jour modernes !</p>
      <p class="description">Nanny+ facilite la saisie des données, le suivi des heures travaillées, la facturation, et la comptabilité des mamans de jour.</p>
    </div>
    <div id="hero-img" class="col">
      <img src="assets/usfjo3d2kybycjub.png">
    </div>
  </div>
</div>