<div class="wrapper">
  <div class="container">
    <div id="header" class="row">
      <div id="logo" class="offset-2 col-8">
        <a routerLink="/"><img src="assets/ban-nanny.png" alt=""></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="grey">
    <div class="container">
      <div class="row">
        <div class="col-12 offset-sm-2 col-sm-4 footnote">
          &copy;<a href="https://twitter.com/nannyplusapp">2022 Nanny+</a>
        </div>
        <div class="col-12 col-sm-4 footnote privacy-policy">
          <a routerLink="confidentialite">Politique de confidentialité</a>
        </div>
      </div>
    </div>
  </div>
</div>
