<div class="container">
    <div class="row">
        <div class="col-12 offset-sm-2 col-sm-8">
            <section>
                <title>Politique de confidentialité</title>
                <h3>Données personnelles que nous collectons</h3>
                <p>
                    Nous ne collectons, ne stockons ni n’utilisons aucune donnée utilisateur depuis l'application. Dans
                    le cas où
                    nous aurions besoin de recueillir vos données, nous veillerons à vous fournir un préavis adéquat.
                </p>
                <h3>Modifications</h3>
                <p>
                    Cette politique de confidentialité peut être modifiée à l’occasion afin de maintenir la conformité
                    avec la loi
                    et de tenir compte de tout changement à notre processus de collecte de données. Nous recommandons à
                    nos
                    utilisateurs de vérifier notre politique de temps à autre pour s’assurer qu’ils soient informés de
                    toute mise
                    à jour.
                </p>
                <h3>Contact</h3>
                <p>
                    Si vous avez des questions à nous poser, n’hésitez pas à communiquer avec nous en utilisant ce qui
                    suit&nbsp;:</p>
                <ul>
                    <li>Sur Twitter&nbsp;: <a href="https://twitter.com/NannyPlusApp" target="_blank">@NannyPlusApp</a>
                    </li>
                    <li>Par mail&nbsp;: <a href="mailto:contact@nannyplus.ch" target="_blank">contact [at]
                            nannyplus.ch</a></li>
                </ul>
                <p>
                    <br><span>Date d’entrée en vigueur&nbsp;: </span>le 20 mars 2022
                </p>
            </section>
        </div>
    </div>
</div>
