<div>
  <div class="container pb-5">
    <div id="hero" class="row">
      <div id="hero-text" class="col-12 col-sm-6">
        <p class="teaser">Pour les nounous modernes !</p>
        <p class="description">
          Nanny+ facilite la saisie des données, le suivi des heures
          travaillées, la facturation, et la comptabilité des nounous.
        </p>
        <p class="its-button">
          <a href="https://apps.apple.com/chfr/app/nanny/id1602676918"
            ><img src="assets/download_appstore_fr.svg"
          /></a>
        </p>
      </div>
      <div id="hero-img" class="col-12 col-sm-6">
        <div class="preview-wrapper">
          <div class="phone-preview preview-03">
            <img src="assets/screen04.png" />
          </div>
          <div class="phone-preview preview-02">
            <img src="assets/screen03.png" />
          </div>
          <div class="phone-preview preview-01">
            <img src="assets/screen02.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grey">
    <section class="container pb-5">
      <div class="row">
        <div class="col-12">
          <title class="my-5">Les fonctionnalités de Nanny+</title>
        </div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Tous vos dossiers en un seul coup d'oeil.</h2>
          <p>Les informations essentielles sont immédiatement disponibles, possibilité d'appeler les parents directement depuis l'écran d'accueil de l'application.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screen02.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Toutes les prestations en attente de facturation.</h2>
          <p>Le détail jour par jour des prestations non facturées, avec le détail des prix pour chaque prestation, et le total en attente de facturation.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screen03.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Toutes les factures émises</h2>
          <p>Classées par ordre chronologique, les factures peuvent être téléchargées en PDF pour être envoyées par courriel, ou être imprimées directement via AirPrint.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screen04.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Les informations détaillées pour chaque dossier.</h2>
          <p>Toutes les informations concernant l'enfant, et les personnes de contact, regroupée sur une seule page.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screen04.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
    </section>
  </div>
  <section class="container pb-5">
    <div class="row">
      <div class="col-12">
        <title class="my-5">Foire Aux Questions</title>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <title class="my-5">Questions, remarques, et commentaires</title>
      </div>
    </div>
  </section>
</div>
