<div>
  <div class="container pb-5">
    <div id="hero" class="row">
      <div id="hero-text" class="col-12 offset-sm-2 col-sm-4">
        <p class="teaser">Pour les nounous modernes !</p>
        <p class="description">
          Nanny+ facilite la saisie des données, le suivi des heures
          travaillées, la facturation, et la comptabilité des nounous.
        </p>
        <div class="store-badges">
          <div class="its-button">
            <a href="https://apps.apple.com/chfr/app/nanny/id1602676918">
              <img src="assets/download_appstore_fr.svg" />
            </a>
          </div>
          <div class="gps-button">
            <a href="https://play.google.com/store/apps/details?id=ch.frenchguy.nannyplus">
              <img src="assets/google-play-badge.png" />
            </a>
          </div>
        </div>
      </div>
      <div id="hero-img" class="col-12 col-sm-4">
        <div class="preview-wrapper">
          <div class="phone-preview preview-03">
            <img src="assets/screenshot_01.png" />
          </div>
          <div class="phone-preview preview-02">
            <img src="assets/screenshot_02.png" />
          </div>
          <div class="phone-preview preview-01">
            <img src="assets/screenshot_03.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grey">
    <section class="container pb-5">
      <div class="row">
        <div class="col-12">
          <title class="my-5">Les fonctionnalités de Nanny+</title>
        </div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Tous vos dossiers en un seul coup d'oeil.</h2>
          <p>Les informations essentielles sont immédiatement disponibles, et vous pouvez appeler les parents
            directement depuis l'écran d'accueil de l'application.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_01.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Toutes les prestations en attente de facturation.</h2>
          <p>Le détail jour par jour des prestations non facturées, avec le détail des prix pour chaque
            prestation, et le total en attente de facturation.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_02.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Toutes les factures émises</h2>
          <p>Retrouvez toutes les factures émises, classées par ordre chronologies ; téléchargez-les pour les fournir
            aux parents ou les garder dans vos archives papier.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_03.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Les informations détaillées pour chaque dossier.</h2>
          <p>Toutes les informations concernant l'enfant, et les personnes de contact, regroupée sur une seule
            page.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_04.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Toutes vos prestations</h2>
          <p>Créez autant de prestations que vous souhaitez, à facturer au forfait ou selon un tarif horaire.
          </p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_05.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Personalisez vos factures.</h2>
          <p>Ajoutez un logo, définissez le nom de votre strucute, choissez la police de caractères qui sera
            utilisée, et indiquer vos coordonnées et vos conditions de paiement.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_06.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
      <div class="row feature">
        <div class="col-12 col-sm-2"></div>
        <div class="col-12 col-sm-4 text">
          <h2>Générez vos factures au format PDF</h2>
          <p>Faciles à imprimer et à envoyer par courriel, vous pouvez aussi imprimer vos factures directement
            via AirPrint.</p>
        </div>
        <div class="col-12 col-sm-4 screenshot">
          <img src="assets/screenshot_07.png" alt="Dossiers" />
        </div>
        <div class="col-12 col-sm-2"></div>
      </div>
    </section>
  </div>
  <section class="container pb-5">
    <div class="row">
      <div class="col-12">
        <title class="my-5">Foire Aux Questions</title>
        <app-question [first]="true" text="Combien coûte Nanny+ ?">Nanny+ est une application entièrement gratuite, ne
          nécessitant
          aucun abonnement, et qui ne propose pas d'achat intégré.</app-question>
        <app-question text="Y-a-t-il des publicités dans Nanny+ ?">Aucune publicité n'est affichées dans l'application.
        </app-question>
        <app-question text="Y-aura-t-il des mise à jours de Nanny+ ?">Nous avons déjà une liste de fonctionnalités qui
          arriveront prochainement dans l'application. De plus, nous restons à l'écoute de nos utilisatrices et
          utilisateurs, et nous ajouterons éventuellement les fonctionnalités qui nous seront demandées.</app-question>
        <app-question text="Comment mes données sont-elles exploitées ?">Les données sont uniquement enregistrées sur le
          téléphone. Aucune données ne sort sur Internet. Nanny+ respecte votre vie privée et celles des enfants que
          vous gardez.</app-question>
        <app-question text="Les factures fournies ont-elles une valeur légale ?">De manière générale, les factures
          produites par Nanny+ peuvent être adressées sans autre aux parents pour le réglement de vos prestations.
          Toutefois, la législation pouvant varier d'un pays à l'autre, nous vous encourageons à vérifier auprès
          des autorités compétentes.</app-question>
        <app-question text="Puis-je obtenir des décomptes annuels ?">Cette fonctionnalité est en cours de développement et
          sera introduite très prochainement.</app-question>
          <app-question text="Puis-je vous contacter ?">Nous sommes à votre écouter sur notre compte Twitter <a href="https://twitter.com/nannyplusapp">@nannyplusapp</a></app-question>
      </div>
    </div>
  </section>
</div>
