<div class="container">
  <div id="hero" class="row">
    <div id="hero-text" class="col-12 col-sm-6">
      <p class="teaser">Pour les nounous modernes !</p>
      <p class="description">Nanny+ facilite la saisie des données, le suivi des heures travaillées, la
        facturation, et
        la comptabilité des nounous.</p>
      <p class="its-button"><a href="https://apps.apple.com/chfr/app/nanny/id1602676918"><img
            src="assets/download_appstore_fr.svg"></a></p>
    </div>
    <div id="hero-img" class="col-12 col-sm-6">
      <div class="preview-wrapper">
        <div class="phone-preview preview-03">
          <img src="assets/screen04.png">
        </div>
        <div class="phone-preview preview-02">
          <img src="assets/screen03.png">
        </div>
        <div class="phone-preview preview-01">
          <img src="assets/screen02.png">
        </div>
      </div>
    </div>
  </div>
</div>
